<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AspireTestSuite">
  <test name="Tests">
  <parameter name="quantity" value="17"></parameter>
    <classes>
      <class name="com.aspire.test.TestCases"/>
    </classes>
  </test> <!-- Tests -->
</suite> <!-- AspireTestSuite -->
